h1 {
  color: rgb(119, 217, 255);
}

body {
  background: white;
  color: black;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  margin: 100px 0;
}

.chatbar {
  background: rgb(119, 217, 255);
  border-top: 1px solid black;
  bottom: 0;
  display: flex;
  left: 0;
  padding: 5px;
  position: fixed;
  right: 0;
}

.chatbar-message,
.chatbar-username {
  border: 1px solid black;
  display: block;
  height: 40px;
  line-height: 40px;
  margin: 5px;
  padding: 0 9px;
}

.chatbar-message {
  flex: 8;
}

.chatbar-username {
  flex: 2;
}

.message {
  padding: 5px;
}

.message.system {
  font-style: italic;
  padding: 5px 60px;
}

.message-content,
.message-username {
  overflow: hidden;
  margin: 5px;
  padding: 0 10px;
}

.message-content {
  flex: 8;
}

.message-username {
  flex: 2;
  font-weight: 700;
}

.notification-content {
  margin: 5px;
  float: left;
  padding: 0 10px;
  color: rgb(97, 97, 97);
  font-style: italic;
}

.error {
  display: flex;
  justify-content: left;
  margin: 5px;
  padding: 0 10px;
  color: rgb(255, 74, 74);
  font-style: italic;
  font-size: 18px;
  font-weight: 500;
}

.navbar {
  display: flex;
  justify-content: space-between;
  background: rgb(119, 217, 255);
  border-bottom: 1px solid black;
  height: 60px;
  left: 0;
  padding: 0 10px;
  position: fixed;
  right: 0;
  top: 0;
  color: black;
}

.navbar-content {
  display: flex;
  justify-content: left;
}

.navbar-brand {
  color: inherit;
  font-weight: 700;
  font-size: 28px;
  height: 60px;
  line-height: 60px;
  padding: 0 10px;
  text-decoration: none;
}

.numUsers {
  line-height: 60px;
  padding: 0 10px;
}

.logo {
  height: 40px;
  width: 40px;
  line-height: 60px;
  padding: 10px;
}

